@import '../../utilities/variables';

.item {
  width: 50%;
  height: auto;
  margin-bottom: 0.4rem;
  .img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid $grey;
    box-shadow: $dropShadow;
    transition: ease-in-out 1s;
    &:hover {
      transform: scale(1.3);
      z-index: 10;
    }
  }
}

@media screen and (min-width: 768px) {
  .item {
    width: 33%;
  }
}

@media screen and (min-width: 992px) {
  .item {
    width: 25%;
  }
}
