@import '../../utilities/variables';
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    margin-top: 2.4rem;
    input {
      min-width: 230px;
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-color: $white;
      border-width: 1px;
      outline: none;
    }
    button {
      position: absolute;
      background-color: transparent;
      border: none;
      outline: none;
      img {
        width: 50%;
      }
    }
  }
  .search__date {
    margin-top: 2rem;
    display: flex;
    label {
      display: flex;
      align-items: center;
      font-family: $default;
      font-size: 12px;
      margin-right: 3px;
    }
    input {
      text-align: center;
      border-radius: 1px;
      width: auto;
      height: auto;
      color: $white;
      background-color: $grey;
      border: none;
      outline: none;
      margin-right: 1rem;
    }
  }
}
