html,
body {
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

* {
  color: white;
}

/* body {
  background: url('./assets/images/background.jpg') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
} */

.app__bg {
  position: fixed;
  z-index: -1000;
  height: 100%;
  animation: zoominoutsinglefeatured 80s infinite;
  width: 100%;
  background: url('./assets/images/background.jpg') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  .app {
    z-index: 1000;
  }
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
